<!DOCTYPE html>
{% extends "Base/Website_Base.html" %}
{% block content %}
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../../static/Error.css">
<title>Website Error – 1</title>
</head>
<body>
<div id="Website_Error__1">
	<svg class="Rectangle_666">
		<rect id="Rectangle_666" rx="0" ry="0" x="0" y="0" width="100%" height="1033" preserveAspectRatio="none">
		</rect>
	</svg>
	<img id="okai-vehicles-nc9hr3AbnSU-unsp" src="/static/okai-vehicles-nc9hr3AbnSU-unsp.png" srcset="/static/okai-vehicles-nc9hr3AbnSU-unsp.png 1x, /static/okai-vehicles-nc9hr3AbnSU-unsp@2x.png 2x">
	<div class="container_404">
        <div id="n_04">
            <span>404</span>
        </div>
        <div id="Sorry_that_page_doesnt_exist">
            <span>Sorry that page doesn't exist!</span>
        </div>
        <a id="Go_back_to_homepage__" href="/">Go back to homepage  ></a>
	</div>
</div>
	
<script>
window.scrollTo(0,0);
</script>
</body>
{% endblock %}
</html>