<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- linking custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Home page</title>
    {% endif %}

  </head>
  <!-- Navigation Bar -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4">E-scooter</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              {% if session.get("email") %}
                <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
                <a class="nav-item nav-link" href="/hire_scooter">Hire Scooter</a>
              {% endif %}
        
              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if session.get("email") %}
                <a class="nav-item nav-link" href="/report">Report Issue</a>
                <a class="nav-item nav-link" href="/logout">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="/">Login</a>
                <a class="nav-item nav-link" href="/register">Register</a>
               
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- End of Navigation Bar  -->
    <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <!-- <div class=flashes> -->
        {% for message in messages %}
        <div class="alerts"></div>
          <div class="alert alert-primary" role="alert">
            {{ message }}
          </div>
          
        </div>
        {% endfor %}
        <!-- </div> -->
      {% endif %}
    {% endwith %}
    <br>
    
    </div>
    
    <!-- <h1>Welcome to the page!</h1> -->
    <!-- <button><a href= login>Log in </a></button>
    <br>
    <button><a href="register"> Register</a></button> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <div class = 'container'>
      {% block content %}{% endblock %}
    </div>


  </body>
</html>