{% extends "staff_base.html" %}
{% block content %}

<head>
    <title>StaffDashboard</title>
</head>
<body>
    <h1 style="color:rgba(68,73,79,1);">Staff Dashboard</h1>
	<svg class="Line_7" viewBox="0 0 1110 2" preserveAspectRatio="none">
			<path id="Line_7" d="M 0 0 L 1110 0">
			</path>
	</svg>
	<br></br>
    <a href="/staff/booking" class="myButton">Create a booking</a>
    <a href="/staff/issues" class="myButton">Handle issues</a>
    <!-- <a href="/staff/manage" class="myButton">Manage scooters</a> -->
</body>

{% endblock content %}